<html>
<head>
    <meta charset="UTF-8">
    <title>CoffeeVis</title>
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="static/jquery.min.js"></script>

    <script src="static/js/coffee_c.js"></script>
        <link rel="stylesheet" type="text/css" href="static/semantic/semantic.css">
   <script src="static/semantic/semantic.js"></script>

    <style>
        path {
            stroke: steelblue;
            stroke-width: 2;
            fill: none;
        }
        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }
        <!--  Heatmap -->
        rect.bordered {
            stroke: #E6E6E6;
            stroke-width:2px;
        }

        text.mono {
            font-size: 9pt;
            font-family: Consolas, courier;
            fill: #aaa;
        }

        text.axis-workweek {
            fill: #000;
        }

        text.axis-worktime {
            fill: #000;
        }
    </style>
</head>

<script>
    var global_type = 0;
    function compute(type){
        global_type = type;
        for(var i = 0; i < 5; i++){

            if(i == type){
                $("#car" + i).attr('class', 'ui button active');
            }
            else
                $("#car" + i).attr('class', 'ui button');
        }

        console.log("H");
        $.post("/request_data/",
                {
                    start_pos: "0",
                    car_type: type,
                    start_time: "2015-10-26",
                    end_time: "2015-11-02"
                },
                function(data, status){
                    updateClicked(data);
                    updateHeatmap(data);
                });

    }
    $(document)
            .ready(function() {
                $('.ui.selection.dropdown').dropdown();
                $('.ui.menu .ui.dropdown').dropdown({
                    on: 'hover',
                    action: function(text, value){
                        //Start Position: (0 = Apharetta, 1 = Buckhead, 2 = Decatur, 3 = GT, 4 = Marietta, 5 = Peachtree, 6 = Sandy, 7 = Stone Mountain)
                        console.log(text + ":" + value);

                        $.post("/request_data/",
                                {
                                    start_pos: value-1,
                                    car_type: global_type,
                                    start_time: "2015-10-26",
                                    end_time: "2015-11-02"
                                },
                                function(data, status){
                                    updateClicked(data);
                                    updateHeatmap(data);
                                });

                    }
                });
            })


    ;
</script>

<body onload="init()" > <!-- init() method defined in coffee.js-->

<div>


    <div id="content">
        <div class="ui text menu">
        <div class="header item">Pickup Location:</div>
        <div class="ui selection dropdown" tabindex="0">
            <input type="hidden" name="selection" value="alpharetta">
            <i class="dropdown icon"></i>
            <div class="text">Alpharetta</div>
            <div class="menu">
                <div class="item active selected" data-value="1">Alpharetta</div>
                <div class="item" data-value="2">Buckhead</div>
                <div class="item" data-value="3">Decatur</div>
                <div class="item" data-value="4">Georgia Tech</div>
                <div class="item" data-value="5">Marietta</div>
                <div class="item" data-value="6">Peachtree City</div>
                <div class="item" data-value="7">Sandy Springs</div>
                <div class="item" data-value="8 ">Stone Mountain</div>
            </div>
        </div>
            <div class="header item" id="basic-addon">Destination: </div>
            <div id="destination" class="float">
                <div class="ui input">
                    <input type="text"  placeholder="Piedmont Park">
                </div>
            </div>
        </div>


        <div id="controlSection" class="bordered">



        <div id="carType" class="float">
            <button id="car0" class="ui active button" onclick="compute(0)">UberX</button>
            <button id="car1" class="ui button" onclick="compute(1)">UberXL</button>
            <button id="car2" class="ui button" onclick="compute(2)">UberBlack</button>
            <button id="car3" class="ui button" onclick="compute(3)">UberSUV</button>
            <button id="car4" class="ui button" onclick="compute(4)">UberSelect</button>
        </div>
    </div>

    <div id="infovis" class="bordered">
        <div id="infovis1" class="bordered"></div>
        <div id="infovis2" class="bordered"></div>
    </div>
</div>


<div style="margin:30;">
    <div style="display: table-cell; width: 120;">
        <label for="xdropdown">X: </label><select id="xdropdown">
        <option val="timestamp">time</option>
    </select>
    </div>
    <div style="display: table-cell; width: 190;">
        <label for="ydropdown">Y: </label><select id="ydropdown">
        <option val="surge_multiplier">surge multiplier</option>
        <option val="estimated_waiting_time">estimated waiting time</option>
    </select>
    </div>
    <div style="display: table-cell; width: 150;">
        <button id="update" onclick="updateClicked()">Update</button>
    </div>
</div>

<div id="vis"></div>

<div id="chart"></div>
<div id="dataset-picker"></div>
</div>
<script src="static/js/heatmap.js"></script>
<script src="static/js/util.js"></script>

</body>

</html>
