<html >
<head>
  <meta charset="UTF-8">
  <title>CoffeeVis</title>
  <script src="//d3js.org/d3.v3.min.js"></script>
  <script src="static/js/coffee.js"></script>
  <style>
    path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
    }
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
  </style>
</head>
<body onload="init()"> <!-- init() method defined in coffee.js-->

<div style="margin:30;">
  <div style="display: table-cell; width: 120;">
    <label for="xdropdown">X: </label><select id="xdropdown">
      <option val="timestamp">time</option>
    </select>
  </div>
  <div style="display: table-cell; width: 190;">
    <label for="ydropdown">Y: </label><select id="ydropdown">
      <option val="surge_multiplier">surge multiplier</option>
      <option val="estimated_waiting_time">estimated waiting time</option>
    </select>
  </div>
  <div style="display: table-cell; width: 150;">
    <button id="update" onclick="updateClicked()">Update</button>
  </div>
</div>

<div id="vis"></div>

</body>
</html>
